.counterSection {
  padding: 10px;
  border: 2px solid rgb(179, 179, 229);
  background-color: white;
  opacity: 90%;
}

.phraseList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
