.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border: 4px solid rgb(179, 179, 229);
  background-color: white;
  opacity: 85%;
  width: 200px;
  margin: 20px;
  padding: 30px;
}

.selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
